.footer {
  background-color: rgb(72, 145, 72);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  border-top: 10px solid rgb(48, 46, 46);
  font-size: 15px;
}